{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!--
The overlay and  container fluid will remain the same but 
in this template, we'll only need one row. 
-->
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <!--
    It'll be split into two columns and I'm 
    going to offset the first by two in  order to push it toward the middle of 
    the screen. 
    -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <!--
      The first column  will contain the product image. 
      So let's copy that from the products template. 
      -->
      <div class="image-container my-5">
        <!--
        And update it slightly. 
        -->
        {% if product.image %}
        <!--
        The only difference here is  
        that on the products page the image will  link to the product details but here it 
        will link to the actual image in a new window. 
        -->
        <a href="{{ product.image.url }}" target="_blank">
          <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="">
          <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        </a>
        {% endif %}
      </div>
    </div>
    <!--
    The second column will contain 
    all the products details as well as  eventually the buttons to select the 
    size and quantity and add it to the  shopping bag.
    -->
    <div class="col-12 col-md-6 col-lg-4">
      <!--
      We'll do that stuff later 
      but right now we can take care of the  product details in the interest of time 
      I'll paste that in from the completed  project.
      -->
      <div class="product-details-container mb-5 mt-md-5">
        <!-- We need the product name, -->
        <p class="mb-0">{{ product.name }}</p>
        <!-- the price, -->
        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>

        <!-- Show category after price -->
        <!--
        If the product has a category, we want to render it out 
        using its programmatic name as the href and its friendly name as the text.
        -->
        {% if product.category %}
        <p class="small mt-1 mb-0">
          <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
          </a>
        </p>
        {% endif %}

        <!-- the rating if it  exists and its description. -->
        {% if product.rating %}
        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
        {% else %}
        <small class="text-muted">No Rating</small>
        {% endif %}
        <p class="mt-3">{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}